/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
} */

/* .grid-item {
    padding: 20px;
} */

/* .item-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 7.5rem;
}

.item-2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 15rem;
    width: 15rem;
}

.item-2 img{
    border-radius: 20px;
}

.item-3 {
    background-color: #1e1e1e;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    height: 15.5rem;
}

.about-text{
    height: 12rem;
}

.item-4 {
    background-color: orange;
    grid-column: 3;
    grid-row: 3;
    height: 8rem;
}

.item-5 {
    background-color: orange;
    grid-column: 1 / span 3;
    grid-row: 4;
} */

.event-container{
    width: 60vw;
    margin: 0 auto;
}

.flyer{
    width: 26vw;
}

.flyer img{
    border-radius: 15px;
    min-width: 100%;
}


.about-text{
    background-color: #1e1e1e;
    height: 19rem;
    scrollbar-width: none;
}

.btn-container{
    align-items: center;
    height: 100%;
}



/* Book button */
#paymentForm{
    text-align: left !important;
}

.razorpay-payment-button.svelte-ohbfj8{
    width: 100% !important;
}

.PaymentButton.svelte-ekc7fv.svelte-ekc7fv{
    width: 100% !important;
    border-radius: 50px !important;
}

.PaymentButton--dark.svelte-ekc7fv.svelte-ekc7fv{
    background-color: #00FF38 !important;
}

.PaymentButton--dark.svelte-ekc7fv.svelte-ekc7fv{
    color: black !important;
}



@media only screen and (max-width: 768px) {
    .flyer{
        width: 100%;
    }
    .event-container{
        width: 82vw;
    }
    .about-text{
        height: 25rem;
    }
    .price{
        width: 100%;
    }
    .btn-inner-container{
        width: 100%;
    }
}